colorlog==6.10.1
ha-ffmpeg
hassil
home-assistant-intents
isal
mutagen
pymicro-vad
pyspeex-noise
PyTurboJPEG<3
pip>=21.3.1
ruff==0.15.5
pre_commit==4.5.1
paho-mqtt
pytest>=9.0.0
pytest-homeassistant-custom-component>=0.13.0
pytest-timeout>=2.4.0
pytest-xdist>=3.8.0
