colorlog==6.10.1
ha-ffmpeg==3.2.2
hassil==3.6.0
home-assistant-intents==2026.6.1
isal==1.8.0
mutagen==1.47.0
pymicro-vad==2.0.1
pyspeex-noise==2.0.1
PyTurboJPEG==2.2.0
pip==26.1.2
ruff==0.15.16
pre_commit==4.6.0
paho-mqtt==2.1.0
pytest==9.0.3
pytest-homeassistant-custom-component==0.13.337
pytest-timeout==2.4.0
pytest-xdist==3.8.0
